<%= turbo_frame_tag learning do %>
<tr class="is-being-edited">
  <td colspan="5">
    <div class="box p-4">
      <%= form_with(model: learning) do |f| %>
        <%= render 'form_fields', f: f, learning: learning, learning_categories: @learning_categories %>

        <div class="field is-grouped is-grouped-centered mt-5">
        <div class="control">
          <%= f.submit "Update Learning", class: "button is-primary is-medium px-5" %>
        </div>
        <div class="control">
          <%= link_to "Cancel", cancel_learning_path(learning), data: { turbo_frame: dom_id(learning), turbo_stream: true }, class: "button is-light is-medium" %>
        </div>
      </div>
      <% end %>
    </div>
  </td>
</tr>
<% end %>
