<%# Hide the form after successful creation %>
<%= turbo_stream.update "new_learning_form", "" %>

<%# Update the count %>
<%= turbo_stream.update "learnings_count" do %>
  <small id="learnings_count" class="has-text-grey">(<%= @pagy.count %> total)</small>
<% end %>

<%# Show flash message %>
<turbo-stream action="prepend" target="all_learnings">
  <template>
    <div style="padding: 1rem;">
      <%= render "shared/flashes" %>
    </div>
  </template>
</turbo-stream>

<%# Replace learning_page_1 with fresh data - div layout allows proper nesting! %>
<%= turbo_stream.replace "learning_page_1" do %>
  <%= render partial: "learnings_page", locals: { learnings: @learnings, pagy: @pagy } %>
<% end %>

<%# Scroll to top to show the new learning %>
<turbo-stream action="invoke" target="body">
  <template>
    window.scrollTo({ top: 0, behavior: 'smooth' });
  </template>
</turbo-stream>
