<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-10">
        <div class="content" data-controller="form-reset">
          <!-- Modified header for better mobile layout -->
          <div class="mb-4">
            <h1 class="title has-text-centered is-flex is-flex-wrap-wrap is-justify-content-center is-align-items-center mb-2">
              <span class="mr-2">Learning Lessons</span>
              <small id="learnings_count" class="has-text-grey">
                <% if params[:query].present? %>
                  (<%= @pagy.count %> of <%= @learnings_count %> total)
                <% else %>
                  (<%= @learnings_count %> total)
                <% end %>
              </small>
            </h1>
            <div class="has-text-centered">
              <%= link_to new_learning_path, id: :new_learning_button, class: "button is-primary", data: { turbo_stream: true, form_reset_target: "destination" } do %>
              <span class="icon">
                <i class="fas fa-plus"></i>
              </span>
              <span>New Learning</span>
              <% end %>
            </div>
          </div>

          <div id="flash_messages" class="container is-fluid" data-turbo-temporary></div>

          <!-- Search Form - Only visible when there are learnings -->
          <% if @learnings_count > 0 %>
            <div class="mb-5"
                 data-controller="search"
                 data-search-navbar-outlet="[data-controller~='navbar']">
              <%= form_with url: learnings_path, method: :get, data: { turbo_frame: "learnings_list" }, class: "field has-addons has-addons-centered" do |f| %>
              <div class="control is-expanded">
                <%= f.search_field :query,
                      value: params[:query],
                      placeholder: "Type to search lessons...",
                      class: "input",
                      autocomplete: "off",
                      data: {
                        search_target: "learningSearchInput",
                        action: "input->search#input"
                      } %>
              </div>
              <div class="control" data-search-target="clearButton" style="<%= 'display: none;' unless params[:query].present? %>">
                <%= link_to "Clear", learnings_path, class: "button is-light", data: { action: "click->search#clear" } %>
              </div>
              <% end %>
            </div>
          <% end %>

          <!-- Collapsible inline form container -->
          <div id="new_learning_form" class="mt-4" data-form-reset-target="container"></div>

          <!-- Turbo Frame wraps the results that will update -->
          <%= render 'learnings_list', learnings: @learnings, pagy: @pagy %>
        </div>
      </div>
    </div>
  </div>
</section>
