<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-10">
        <div class="content">
          <!-- Modified header for better mobile layout -->
          <div class="mb-4">
            <h1 class="title has-text-centered is-flex is-flex-wrap-wrap is-justify-content-center is-align-items-center mb-2">
              <span class="mr-2">Learning Lessons</span>
              <small id="learnings_count" class="has-text-grey">(<%= @pagy.count %> total)</small>
            </h1>
            <div class="has-text-centered">
              <%= link_to new_learning_path, id: :new_learning_button, class: "button is-primary", data: { turbo_stream: true } do %>
              <span class="icon">
                <i class="fas fa-plus"></i>
              </span>
              <span>New Learning</span>
              <% end %>
            </div>
          </div>

          <!-- Collapsible inline form container -->
          <div id="new_learning_form" class="mt-4"></div>

          <div id="flash_messages" class="container is-fluid" data-turbo-temporary></div>

          <% if @learnings.any? %>
          <%= render 'learnings' %>
          <% else %>
          <div class="notification is-info is-light">
            <p class="has-text-centered">
              No learnings have been created yet.
              <%= link_to "Create your first learning", new_learning_path %>
            </p>
          </div>
          <!-- Search Form -->
          <div class="mb-5" data-controller="search">
            <%= form_with url: learnings_path, method: :get, data: { turbo_frame: "learnings_list" }, class: "field has-addons has-addons-centered" do |f| %>
            <div class="control is-expanded">
              <%= f.search_field :query,
                    value: params[:query],
                    placeholder: "Search by lesson name...",
                    class: "input",
                    autocomplete: "off",
                    oninput: "this.form.requestSubmit()",
                    data: { search_target: "learning_search_input" } %>
            </div>
            <div class="control">
              <%= f.submit "Search", class: "button is-info" %>
            </div>
            <% if params[:query].present? %>
            <div class="control">
              <%= link_to "Clear", learnings_path, class: "button is-light", data: { action: "click->search#clear" } %>
            </div>
            <% end %>
            <% end %>
          </div>

          <!-- Turbo Frame wraps the results that will update -->
          <%= turbo_frame_tag "learnings_list", target: "_top" do %>
          <% if @learnings.any? %>
          <%= render 'learnings' %>

          <% if @learnings.respond_to?(:total_pages) %>
          <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            <%= paginate @learnings %>
          </nav>
          <% end %>
          <% else %>
          <div class="notification is-info is-light">
            <p class="has-text-centered">
              <% if params[:query].present? %>
              No learnings found matching "<strong><%= params[:query] %></strong>".
              <%= link_to "Clear search", learnings_path, data: { action: "click->search#clear" } %>
              <% else %>
              No learnings have been created yet.
              <%= link_to "Create your first learning", new_learning_path %>
              <% end %>
            </p>
          </div>
          <% end %>
          <<<<<<< HEAD <% end %>=======>>>>>>> 937c9ed (Ensure search works as we type new text)
            <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
