<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8-desktop is-11-tablet is-12-mobile">
        <div class="box p-5">
          <h1 class="title has-text-centered mb-5">Create New Learning</h1>
          <%= form_with(model: @learning, data: { turbo: false }) do |f| %>
            <%= render 'form_fields', f: f, learning: @learning, learning_categories: @learning_categories %>

            <div class="field is-grouped is-grouped-centered mt-5">
                  <div class="control">
                    <%= f.submit "Create Learning" , class: "button is-primary is-medium px-5" %>
                  </div>
                  <div class="control">
                    <%= link_to "Cancel" , learnings_path, class: "button is-light is-medium" %>
                  </div>
                </div>
                <% end %>
        </div>

        <div class="has-text-centered mt-4 mb-4">
          <%= link_to learnings_path, class: "has-text-grey is-flex is-align-items-center is-justify-content-center" do
            %>
            <span class="icon">
              <i class="fas fa-arrow-left"></i>
            </span>
            <span>Back to Learnings</span>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
